#album-form-container {
  color: white;
  background-color: #000000;
  min-width: 30rem;
}

#album-form {
  max-width: 40rem;
  margin: 3rem auto;
  background-color: #000000;
  border-radius: 10px;
  height: 25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#album-form-header {
  margin: 0;
}

.album-form-input-container {
  display: flex;
  flex-direction: column;
  max-width: 17.7rem;
}

.album-form-textarea {
  width: 17.7rem;
  height: 10rem;
  color: white;
  background-color: #242424;
  border: none;
  resize: none;
}

.album-form-input {
  width: 17.7rem;
  height: 2rem;
  color: white;
  background-color: #242424;
  border: none;
}

.album-form-file::file-selector-button {
  width: 7rem;
  height: 2rem;
  border-radius: 500px;
  font-size: .9rem;
  background-color: white;
  color: black;
  border: none;
}

.album-form-file::file-selector-button:hover {
  cursor: pointer;
}

#album-form-submit {
  width: 8.5rem;
  height: 2rem;
  border-radius: 500px;
  font-size: .9rem;
  background-color: white;
  color: black;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}