#recommended-container {
  background: rgb(18, 18, 18);
  background: linear-gradient(0deg, rgba(18, 18, 18, 1) 60%, rgba(36, 36, 36, 1) 90%);
  height: 100%;
  border-radius: 10px;
}

#recommended {
  color: white;
}