#recommended-container {
  border-radius: 10px;
}

#recommended-playlists-title,
#recommended-albums-title {
  color: white;
}

#recommended-albums {
  margin-left: 2rem;
  color: white;
}

#album-list-container {
  padding: 0;
  max-height: 100%;
  gap: 10px;
  width: 100%;
  overflow-y: auto;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-auto-flow: row;
}

#single-album {
  background-color: #242424;
  width: 10rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
}

#single-album:hover {
  cursor: pointer;
  background-color: #292929;
}

#album-art-list {
  width: 9rem;
  border-radius: 10px;
}

#album-name {
  margin: 0;
  text-align: center;
  margin-top: .8rem;
}