body {
  margin: 0;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul>li {
  list-style-type: none;
}

ul {
  margin: 0;
}

.hidden {
  display: none;
}

#modal-content {
  background-color: #000000;
  border-radius: 10px;
}

.errors {
  color: red;
}