#signUp-form-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 25rem;
}

#signUp-form-errors {
  margin-bottom: 1.5rem;
  padding: 0;
  color: red;

  display: flex;
  align-items: center;
  justify-content: center;
}

.signUp-errors-li {
  width: fit-content;
  max-width: 20rem;
}

#first-last-name-errors-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: .5rem;
}

#signUp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.signUp-inputs-labels {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin-bottom: 2rem;
}

.signUp-labels {
  margin-bottom: .3rem;
}

.signUp-inputs {
  background-color: #121212;
  color: white;
  border: 1px solid #727272;
  height: 2rem;
  padding: .8rem;
}

#signUp-form-button {
  background-color: #1ed760;
  border: none;
  border-radius: 50px;
  height: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 10rem;
}

#first-last-name {
  margin-bottom: 2rem;
}

#first-last-name {
  display: flex;
  width: 15rem;
}

.first-name-inputs {
  width: 7.5rem;
  background-color: #121212;
  color: white;
  border: 1px solid #727272;
  height: 2rem;
  padding: .8rem;
}

.last-name-inputs {
  width: 7.5rem;
  background-color: #121212;
  color: white;
  border: 1px solid #727272;
  height: 2rem;
  padding: .8rem;
}