#side-bar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "ButtonContainer"
    "PlaylistContainer";
}

#home-button-container {
  border-radius: 10px;
  list-style: none;
  grid-area: ButtonContainer;
  margin: .1rem 0;
}

#library-container {
  background-color: #121212;
  margin: .6rem;
}

#library-heading {
  color: #a7a7a7;
  font-size: 1rem;
}

#playlist-container {
  margin: 0;
  padding: 0;
  background-color: #121212;
  grid-area: PlaylistContainer;
  border-radius: 10px;
  margin-top: 10px;
}

#home-button-container {
  background-color: #121212;
  color: white;
}

#create-first-playlist {
  background-color: #242424;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#first-playlist-heading {
  font-size: 1rem;
  margin: 0;
}

#first-playlist-desc {
  font-size: .8rem;
  color: #fefefe;
}

#create-playlist-button {
  width: 7.5rem;
  height: 2rem;
  border-radius: 500px;
  font-size: .9rem;
  background-color: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

#owned-albums-container {
  background-color: #242424;
  color: white;
  padding: 1rem;
  margin: .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 7.8rem;
}

#owned-albums-title {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1rem;
}

#create-album-button-container>button {
  width: 8.5rem;
  height: 2rem;
  border-radius: 500px;
  font-size: .9rem;
  background-color: white;
  color: black;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

#create-album-button-container {
  width: fit-content;
}

#dead-create-album {
  width: 8.5rem;
  height: 2rem;
  border-radius: 500px;
  font-size: .9rem;
  background-color: white;
  color: black;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.create-album-tooltip {
  margin-left: .1rem;
  border-radius: 10px !important;
  width: 20rem !important;
  padding: 1rem !important;
}

#album-tooltip-button-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1rem;
  align-items: center;
}

#album-tooltip-header {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: .7rem;
}

#album-tooltip-sub-header {
  margin: 0;
}

#album-tooltip-signUp-button>button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
}