#side-bar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "ButtonContainer"
    "PlaylistContainer";
}

#home-button-container {
  border-radius: 10px;
  list-style: none;
  grid-area: ButtonContainer;
  margin: .1rem 0;
}

#library-container {
  background-color: #121212;
  margin: .6rem;
}

#library-heading {
  color: #a7a7a7;
  font-size: 1rem;
}

#playlist-container {
  margin: 0;
  padding: 0;
  background-color: #121212;
  grid-area: PlaylistContainer;
  border-radius: 10px;
  margin-top: 10px;
}

#home-button-container {
  background-color: #121212;
  color: white;
}

#create-first-playlist {
  background-color: #242424;
  color: white;
  padding: .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#first-playlist-heading {
  font-size: 1rem;
  margin: 0;
}

#first-playlist-desc {
  font-size: .8rem;
  color: #fefefe;
}

#create-playlist-button {
  width: 7.5rem;
  height: 2rem;
  border-radius: 500px;
  font-size: .9rem;
  background-color: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

#owned-albums-container {
  background-color: #242424;
  color: white;
  padding: .5rem;
  margin: .5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#owned-albums-title {
  font-size: 1rem;
  margin: 0;
}

#create-album {
  width: 8.5rem;
  height: 2rem;
  border-radius: 500px;
  font-size: .9rem;
  background-color: white;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}