#home-container {
  background-color: #000000;
  min-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding: .6rem;

  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas:
    "Playlist-bar Main-content";
}

#side-bar-container {
  grid-area: Playlist-bar;
}

#main-content {
  grid-area: Main-content;
  background-color: #000000;
  border-radius: 10px;
}