#home-container {
  background-color: #000000;
  min-width: 100%;
  height: 100vh;
  /* display: flex;
  flex-direction: row; */
  padding: .6rem;
  /* padding-bottom: 0; */

  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 1fr .07fr;
  gap: 0px 10px;
  grid-template-areas:
    "Playlist-bar Main-content"
    "media-player media-player";
}

#side-bar-container {
  grid-area: Playlist-bar;
}

#main-content {
  grid-area: Main-content;

  overflow-y: auto;
  background-color: #000000;
  border-radius: 10px;
  background: rgb(18, 18, 18);
  background: linear-gradient(0deg, rgba(18, 18, 18, 1) 60%, rgba(36, 36, 36, 1) 90%);

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.07fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Navbar"
    "content";
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 500px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

#navbar-container {
  grid-area: Navbar;
}

#content-container {
  grid-area: content;
}

#media-player-container {
  grid-area: media-player;
}