#album-details-container {
  min-height: 12rem;
}

#album-banner-container {
  background-color: #242424;
  align-items: end;
  width: 100%;
  /* margin: 1rem 1rem; */
  overflow: hidden;
  display: flex;
  padding: 1rem;
  /* background-color: transparent;
  backdrop-filter: blur(200px); */
}

#album-details-cover {
  width: 12rem;
}

#artistPfp {
  width: 1.3rem;
  height: 1.3rem;
}

#album-info-container {
  margin: 0 1rem;
  color: white;
}

#album-creator-info-container {
  display: flex;
  align-items: center;
}

#play-button-like-container {
  height: 4rem;
  display: flex;
  align-items: center;
}

#album-play-button {
  background-color: #1ed760;
  border-radius: 50%;
  border: none;
  width: 2.8rem;
  height: 2.7rem;
  margin-left: 2rem;
  font-size: 1.3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#album-dropdown-button {
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
}

#song-list {
  color: white;
  margin-top: 1rem;
  padding-left: 1.7rem;
}

.song-container {
  display: flex;
  padding: .7rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .8rem;
  max-width: 98%;
  min-height: 2.5rem;
  border-radius: 5px;
}

.song-container:hover {
  background-color: #242424;
}

.song-count-and-controls-container {
  display: flex;
  align-items: center;
}

.song-list-play-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  margin-left: .5rem;
}

.song-count {
  font-size: 1.2rem;
  margin: 0;
}

.song-info {
  margin-left: .6rem;
}

.song-name {
  margin: 0;
}

.artist-name {
  margin: 0;
}

.like-song-button-n-dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-button {
  background-color: transparent;
  border: none;
  color: gray;
  padding: 0;
  font-size: .9rem;
}

.like-button:hover {
  color: white;
}

.liked-button {
  background-color: transparent;
  border: none;
  color: #1ed760;
  padding: 0;
  font-size: .9rem;
}